@import "global.scss";

.app{
    height: 100vh;

    .sections{
        width: 100%;
        position: relative;
        top: 60px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scroll-snap-align:start;
        scroll-snap-stop: always;
        scrollbar-width: none; //For firefox

        @include mobile{
            top: 50px;
        }

        &::-webkit-scrollbar{
            display: none;
        }

        > * {
            scroll-snap-align: start;
        }
    }
}