$mainColor: #000;

$width: 768px; //Mobile

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}


*{
    scroll-behavior: smooth;
}

.link{
    text-decoration: none;
    color: inherit;
}